[mysqld]
# MySQL 服务器配置
bind-address = 0.0.0.0              # 允许所有 IP 连接
character-set-server = utf8mb4      # 默认字符集
collation-server = utf8mb4_bin # 默认字符排序规则
max_allowed_packet = 16M             # 最大包大小
innodb_file_per_table = 1            # 每个表使用单独的表空间
innodb_buffer_pool_size = 256M       # InnoDB 缓冲池大小
skip-name-resolve                     # 禁用 DNS 解析，提高性能
sql_mode = "STRICT_TRANS_TABLES"     # SQL 模式设置

# 新增：显式关闭 binlog（解决启动时校验 binlog 的问题）
skip-log-bin

[client]
# 客户端配置
default-character-set = utf8mb4      # 客户端默认字符集